{% extends 'base.html' %}

{% block content %}
  <main class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 mt-5">
        <div class="card card-body">
          <h1 class="text-secondary">Eliminar cargo</h1>
          <p>¿Está seguro que desea eliminar el cargo "{{ cargo.nombre }}"?</p>

          {% if error %}
            <p class="text-danger">{{ error }}</p>
          {% endif %}

          <form method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">Eliminar</button>
            <a class="btn btn-secondary" href="{% url 'cargo_list_cbv' %}">Cancelar</a>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
