{% extends 'base.html' %}

{% block content %}
  <main class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4 mt-5">
        <div class="card card-body">
          <h1 class="text-secondary">Eliminar empleado</h1>
          <p>¿Está seguro que desea eliminar a "{{ empleado.nombres }} {{ empleado.apellidos }}"?</p>

          <form method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">Eliminar</button>
            <a class="btn btn-secondary" href="{% url 'empleado_list_cbv' %}">Cancelar</a>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
